@model IEnumerable<BookViewModel>
@using MyOnlineLibrary.Core.Models


<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card my-card" style="width: 60rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@book.ImageUrl" alt="Book Image">
            <div class="my-body">

                <p class="my-prop-title">@book.Title</p>
                <p class="my-prop">Author: @book.Author</p>
               
                <p class="my-prop">Rating: @book.Rating</p>
                <p class ="my-prop">Category: @book.Category</p>
                @if (book.UploadFiles != null && book.UploadFiles.Any())
                {
                    
                    <ul>

                        @foreach (var files in book.UploadFiles)
                        {
                            
                                <a asp-action="DownloadFile" asp-controller="Books" asp-route-Id="@files.Id">Download</a>
                            
                        }
                    </ul>
                }
                else
                {
                    @using (Html.BeginForm("UploadFile", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                       <input type="hidden" name="id" value="@book.Id" />
                        <input type="file" name="fileUpload" id="fileUpload" multiple class="my-form form-control"  />
                            <br />
                            <input type="submit"  value=" Save Changes" class="btn btn-primary" />
                       
                    }
                }
                <p class="my-prop-description">Category: @book.Description</p>
            </div>

           
        </div>
    }
</div>